<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Analytics</title>
    <style>
        table {
            margin: auto;
        }
    </style>
</head>
<body>
<table th:each="entry :${analytics}">
    <tr>
        <td th:text="'Min score in category ' +  ${entry.key} + ' is: '">
            No value
        </td>
        <td th:text="${entry.value.getMin()}">
        </td>
    </tr>
    <tr>
        <td th:text="'Max score in category ' +  ${entry.key} + ' is: '">
            No value
        </td>
        <td th:text="${entry.value.getMax()}">
        </td>
    </tr>
    <tr>
        <td th:text="'Median score in category' + ${entry.key} + ' is: '">
            No value
        </td>
        <td th:text="${entry.value.getMedian()}">
        </td>
    </tr>
</table>
</body>
</html>