<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <style type="text/css">
        #students-info p {
            text-align: center;
        }

        TABLE {
            width: 600px;
            border-collapse: collapse;
            margin: auto;
        }

        TD, TH {
            text-align: center;
            padding: 3px;
            border: 1px solid black;
        }
    </style>
</head>
<body>
<div th:unless="${students.isEmpty()}" th:each="entry : ${students}" id="students-info">
    <p th:text="'Students in ' + ${entry.key} + ' category:'">category</p>
    <table>
        <tr>
            <th>Name</th>
            <th>Grade</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
        <tr th:each="student : ${entry.value}">
            <td th:text="${student.name}">name</td>
            <td th:text="${student.gradeRepresentation}">score</td>
            <td th:text="${student.getExamDate()}">date</td>
            <td th:text="${student.getExamTime()}">time</td>
        </tr>
    </table>
</div>
<p th:if="${students.isEmpty()}">Students registry is empty</p>
</body>
</html>