<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Enter student</title>
</head>
<body>
<div class="content">
    <form method="POST" action="/students/new" th:object="${student}">
        <h2>Enter students data</h2>
        <table>
            <tr>
                <td>Name:</td>
                <td>
                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                        Name Error
                    </div>
                    <input type="text" th:field="*{name}" style="width: 200px"/>
                </td>
            </tr>
            <tr>
                <td>Score:</td>
                <td>
                    <div th:if="${#fields.hasErrors('score')}" th:errors="*{score}">
                        Score Error
                    </div>
                    <input type="number" th:field="*{score}" style="width: 200px"/></td>
            </tr>
            <tr>
                <td>Grade type:</td>
                <td>
                    <div th:if="${#fields.hasErrors('gradeType')}" th:errors="*{gradeType}">
                        GradeType Error
                    </div>
                    <select th:field="*{gradeType}" style="width: 200px">
                        <option th:each="gradeType : ${T(org.geekhub.studentsregistry.grade.GradeType).values()}"
                                th:text="${gradeType.name()}"
                                th:value="${gradeType.name()}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Date:</td>
                <td>
                    <div th:if="${#fields.hasErrors('date')}" th:errors="*{date}">
                        Date Error
                    </div>
                    <input type="date" th:field="*{date}" style="width: 200px"/></td>
            </tr>
            <tr>
                <td>Time:</td>
                <td>
                    <div th:if="${#fields.hasErrors('time')}" th:errors="*{time}">
                        Time Error
                    </div>
                    <input type="time" th:field="*{time}" style="width: 200px"/></td>
            </tr>
        </table>
        <input type="submit"/>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
</div>
</body>
</html>