<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p sec:authentication="name">username</p>
<p sec:authentication="principal.authorities">authorities</p>
<form action="/users/me" method="post">
    <h2>Change password</h2>
    <!--/*@thymesVar id="error" type="org.geekhub.studentsregistry.web.mvc.errorhandling.ErrorDTO"*/-->
    <p th:text="${error != null} ? ${error.getMessage()} : ''"></p>
    <p><input type="password" placeholder="Current password" name="old-password"></p>
    <p><input type="password" placeholder="New password" name="new-password"></p>
    <p>
        <button type="submit">Change password</button>
    </p>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
</form>
<br>
<form action="/users/me/delete" method="post">
    <button type="submit">Delete account</button>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
</form>
</body>
</html>